<div class="datePicker">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label col-md-4">发布时间</label>
            <div class="col-md-8">
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="yyyy-MM-dd"
                       is-open="startIsOpen"
                       ng-model="startAt"
                       clear-text="清空"
                       close-text="关闭"
                       current-text="今天"
                       alt-input-formats="['yyyy-M!-d!']"
                       datepicker-options="{showWeeks:false,maxDate:startMaxDate}"
                       ng-click="startDate()">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="col-md-4 control-label text-center">—</label>
            <div class="col-md-8">
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup="yyyy-MM-dd"
                       is-open="endIsOpen"
                       ng-model="endAt"
                       clear-text="清空"
                       close-text="关闭"
                       current-text="今天"
                       alt-input-formats="['yyyy-M!-d!']"
                       datepicker-options="{showWeeks:false,maxDate:today,minDate:startAt}"
                       ng-click="endDate()">
            </div>
        </div>
    </div>
</div>