@charset "UTF-8";
@import "global";

.find-elites {
  .elites-banner {
    img {
      width: 100%;
    }
  }
  .row-middle {
    background: #f6f7f8;
  }
  .content-box {
    @include middle;
    justify-content: flex-end;
    height: 400px;
    padding-right: 50px;
    @include xs {
      justify-content: center;
      padding-right: 15px;
      height: 300px;
    }
  }
  .box-right {
    @include sm-lg {
      justify-content: flex-start;
      padding-left: 50px;
    }
  }
  .content {
    width: 268px;
    @include xs {
      text-align: center;
      margin-top: -40px;
    }
    strong {
      display: inline-block;
      font-size: 2.4rem;
      margin-bottom: 15px;
      color: #2b3d51;
    }
    ul {
      li:first-child {
        margin-bottom: 10px;
        color: #536a82;
        font-size: 1.6rem;
        font-weight: 600;
      }
      li:last-child {
        font-size: 1.4rem;
        color: #536a82;
        text-align: justify;
        p {
          @include xs {
            text-align: center;
          }
        }
      }

    }
  }
  .content-left {
    @include xs-lg {
      padding-left: 50px;
    }
  }
  .content-img {
    padding-left: 50px;
    @include middle;
    height: 400px;
    @include xs {
      justify-content: center;
      height: 300px;
      padding-left: 15px;
      padding-top: 80px;
    }
  }
  .img-left {
    @include sm-lg {
      justify-content: flex-end;
      padding-right: 50px;
    }
  }
  .hide-lg {
    @include xs-lg {
      display: none;
    }
  }
  .hide-xs {
    @include xs {
      display: none;
    }
  }
  @mixin title {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 2rem;
  }
  @mixin i {
    width: 25px;
    border-bottom: 2px solid #ff5652;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
  }
  .process {
    position: relative;
    padding-bottom: 70px;
    background: #fcfcfc;
    .title {
      @include title;
    }
    i {
      @include i;
    }
    p {
      max-width: 240px;
      font-size: 1.4rem;
      color: #2d3e50;
      text-align: justify;
      @include xs {
        max-width: 90px;
      }
    }
    .text-top {
      position: absolute;
      left: 50%;
      top: 160px;
      @include xs {
        top: 130px;
      }
      transform: translateX(65px);
    }
    .text-middle {
      position: absolute;
      right: 50%;
      top: 365px;
      @include xs {
        top: 347px;
      }
      transform: translateX(-65px);
    }
    .text-bottom {
      position: absolute;
      left: 50%;
      top: 559px;
      @include xs {
        top: 541px;
      }
      transform: translateX(65px);
    }
  }
  .advantage {
    position: relative;
    padding-bottom: 70px;
    .title {
      @include title;
    }
    i {
      @include i;
    }
    span {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #2d3e50;
      font-size: 1.6rem;
    }
  }
  .case {
    position: relative;
    .title {
      @include title;
    }
    i {
      @include i;
    }
    .case-logo {
      margin-bottom: 40px;
      div {
        width: 86%;
        height: 184px;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        margin: 0 auto;
        @include middle-center;
      }
    }
  }
  button {
    width: 183px;
    height: 55px;
    font-size: 1.6rem;
    margin-bottom: 35px;
  }
}