.find-elites .elites-banner img {
  width: 100%; }
.find-elites .row-middle {
  background: #f6f7f8; }
.find-elites .content-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 400px;
  padding-right: 50px; }
  @media screen and (max-width: 767px) {
    .find-elites .content-box {
      justify-content: center;
      padding-right: 15px;
      height: 300px; } }
@media screen and (min-width: 768px) {
  .find-elites .box-right {
    justify-content: flex-start;
    padding-left: 50px; } }
.find-elites .content {
  width: 268px; }
  @media screen and (max-width: 767px) {
    .find-elites .content {
      text-align: center;
      margin-top: -40px; } }
  .find-elites .content strong {
    display: inline-block;
    font-size: 2.4rem;
    margin-bottom: 15px;
    color: #2b3d51; }
  .find-elites .content ul li:first-child {
    margin-bottom: 10px;
    color: #536a82;
    font-size: 1.6rem;
    font-weight: 600; }
  .find-elites .content ul li:last-child {
    font-size: 1.4rem;
    color: #536a82;
    text-align: justify; }
    @media screen and (max-width: 767px) {
      .find-elites .content ul li:last-child p {
        text-align: center; } }
@media screen and (min-width: 767px) {
  .find-elites .content-left {
    padding-left: 50px; } }
.find-elites .content-img {
  padding-left: 50px;
  display: flex;
  align-items: center;
  height: 400px; }
  @media screen and (max-width: 767px) {
    .find-elites .content-img {
      justify-content: center;
      height: 300px;
      padding-left: 15px;
      padding-top: 80px; } }
@media screen and (min-width: 768px) {
  .find-elites .img-left {
    justify-content: flex-end;
    padding-right: 50px; } }
@media screen and (min-width: 767px) {
  .find-elites .hide-lg {
    display: none; } }
@media screen and (max-width: 767px) {
  .find-elites .hide-xs {
    display: none; } }
.find-elites .process {
  position: relative;
  padding-bottom: 70px;
  background: #fcfcfc; }
  .find-elites .process .title {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 2rem; }
  .find-elites .process i {
    width: 25px;
    border-bottom: 2px solid #ff5652;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); }
  .find-elites .process p {
    max-width: 240px;
    font-size: 1.4rem;
    color: #2d3e50;
    text-align: justify; }
    @media screen and (max-width: 767px) {
      .find-elites .process p {
        max-width: 90px; } }
  .find-elites .process .text-top {
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(65px); }
    @media screen and (max-width: 767px) {
      .find-elites .process .text-top {
        top: 130px; } }
  .find-elites .process .text-middle {
    position: absolute;
    right: 50%;
    top: 365px;
    transform: translateX(-65px); }
    @media screen and (max-width: 767px) {
      .find-elites .process .text-middle {
        top: 347px; } }
  .find-elites .process .text-bottom {
    position: absolute;
    left: 50%;
    top: 559px;
    transform: translateX(65px); }
    @media screen and (max-width: 767px) {
      .find-elites .process .text-bottom {
        top: 541px; } }
.find-elites .advantage {
  position: relative;
  padding-bottom: 70px; }
  .find-elites .advantage .title {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 2rem; }
  .find-elites .advantage i {
    width: 25px;
    border-bottom: 2px solid #ff5652;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); }
  .find-elites .advantage span {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2d3e50;
    font-size: 1.6rem; }
.find-elites .case {
  position: relative; }
  .find-elites .case .title {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 45px;
    font-size: 2rem; }
  .find-elites .case i {
    width: 25px;
    border-bottom: 2px solid #ff5652;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%); }
  .find-elites .case .case-logo {
    margin-bottom: 40px; }
    .find-elites .case .case-logo div {
      width: 86%;
      height: 184px;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
.find-elites button {
  width: 183px;
  height: 55px;
  font-size: 1.6rem;
  margin-bottom: 35px; }

/*# sourceMappingURL=findElites.css.map */
