<!-- 搜索面板 -->
<div style="background: #f6f7f8;">
    <div class="container">
        <div class="row">
            <div style="
    padding: 20px 0 5px 20px;
    font-size: 16px;
    font-weight: 700;"
            >推荐职位
            </div>
        </div>
        <div class="row search-head">
            <div class=" search-index">
                <form class="search-verification">
                    <div class="col-sm-12 padding-0">
                        <div class="flex"><span class="search-option key-words" style="margin: 0;"> 关 键 字 :</span>
                            <input class="search-input form-control" type="text" ng-model="vm.data.name" maxlength="38">
                            <span style="line-height: 34px;padding-left: 15px;color: #999"
                                  ng-show="vm.data.name">
                        当前关键字：{{vm.data.name}}
                    </span>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">所在地区：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.city track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkbox($index, vm.select.city)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">所属行业：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.industry track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkbox($index, vm.select.industry)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">学历要求：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.education track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkbox($index, vm.select.education)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">工作经验：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.experience track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkbox($index, vm.select.experience)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">薪资水平：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.compensation track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkbox($index, vm.select.compensation)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 padding-0 search-nav">
                        <span class="search-option">发布时间：</span>
                        <ul class="search-menu">
                            <li class="search-submenu"
                                ng-repeat="item in vm.select.updateAt track by $index"
                                ng-class="{true: 'defaultChoice'}[item.choose]"
                                ng-click="vm.checkboxOne($index, vm.select.updateAt)">{{ item.name }}
                            </li>
                        </ul>
                    </div>
                </form>
                <div class="col-sm-12 padding-0 margin-0 search-determine">
                    <button class="btn-look" type="button" ng-click="vm.look()">搜索</button>
                    <button class="btn-air btn-default" type="button" ng-click="vm.air()">清空</button>
                </div>
            </div>
        </div>

        <!-- 搜索内容 -->
        <div class="row search-main" ng-hide="vm.totalItems === 0">
            <div class="searchJob-content" ng-repeat="item in vm.plainJobList track by $index"
                 ui-sref="home.jobDetails({id:item.id})">
                <div class="col-sm-6 col-xs-9 searchJob-bor-rig">
                    <div class="peer">
                        <div class="searchJob-name">{{ item.name }}</div>
                        <span class="searchJob-time">&ensp;&ensp;发布时间：{{ item.updateAt | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
                    </div>
                    <div class="searchJob-exper">{{ item.compensation | compensationFilter }}</div>
                    <div class="searchJob-area">{{ item.province| region:vm.provinceCity }}
                        / {{ item.education | educationFilter }}
                        / {{ item.experience | experienceFilter }}
                    </div>
                </div>
                <div class="col-sm-6 col-xs-3 searchJob-padlef">
                    <div class="col-sm-8 col-lg-9 col-xs-12 searchJob-inline">
                        <div class="searchJob-name1">{{ item.companyName }}</div>
                        <div class="searchJob-exper1">
                            <span>{{ item.industryList[0].industry| industryList }}</span>

                        </div>
                        <div class="searchJob-tag-container text-hidden">
                            <span class="searchJob-tag" ng-repeat="x in item.tags track by $index">{{x}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-3 col-xs-3 searchJob-img"><span></span><img class="searchJob-logo"
                                                                                            ng-src="{{ item.logo }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 page-config">
                    <pagination size="vm.currentSize" page="vm.currentPage" total="vm.totalItems"></pagination>
                </div>
            </div>
        </div>
        <!-- 404页面 -->
        <other ng-hide="vm.totalItems !== 0" show="vm.isShowEarch" size="4"></other>
    </div>
</div>

